<div class="container-modal background-dark d-flex flex-column">
  <button class="close"><i class=" config bi bi-x-circle-fill" (click)="closeEvent()"></i></button>

  <div class="header-modal d-flex justify-content-center">
    <h2 class="name-container font-bold">Filtros <i class="bi bi-filter"></i></h2>
  </div>

  <!-- Dropdown para País -->
  <select [(ngModel)]="selectedCountry" class="form-control">
    <option value="" disabled selected>Selecione um país</option>
    <option value="Brasil">Brasil</option>
  </select>

  <!-- Dropdown para Estado -->
  <select [(ngModel)]="selectedState" class="form-control" [disabled]="!selectedCountry">
    <option value="" disabled selected>Selecione uma Cidade</option>
    <option value="São Paulo">São Paulo</option>
    <option value="Mogi das Cruzes">Mogi das Cruzes</option>
    <option value="Campinas">Campinas</option>
    <option value="Osasco">Osasco</option>
    <option value="Sorocaba">Sorocaba</option>
    <option value="Ribeirão Preto">Ribeirão preto</option>
    <option value="Santos">Santos</option>
  </select>

  <!-- Dropdown para Data -->
  <input [(ngModel)]="selectedDate" type="date" class="form-control" [disabled]="!selectedCountry || !selectedState">

  <button class="button font-bold" (click)="confirmFilter()"> Confirmar</button>

</div>
