<div class="container d-flex flex-column justify-content-center">
  <div class="row align-items-center gx-5">
    <div class="container-fluid custom-container">
      <!-- Analytics Overview -->
      <div class="header">
        <h3 class="title">Analytics Overview</h3>
        <div class="buttons-filter d-flex">
          <button class="btn btn-primary filter-btn background-dark" (click)="showModalFilter=!showModalFilter">
            Filtro <i class="bi bi-filter"></i>
          </button>
          <button class="btn btn-primary filter-btn background-dark" (click)="resetFilter()">
            Limpar FIltros
          </button>
        </div>
      </div>

      <div class="blocks background-dark3">
        <div class="block background-dark">
          <div class="block-content">
            <div class="block-text">
              <p>Top Funcionalidade</p>
              <p class="bold">{{ topFeature }}</p>
            </div>
            <div class="circle" [ngStyle]="{'border-color': getCircleColor(featurePercentage)}">
              <span>{{ featurePercentage }}%</span> <!-- Exemplo de porcentagem -->
            </div>
          </div>
        </div>

        <div class="block background-dark">
          <div class="block-content">
            <div class="block-text">
              <p>Visita diária no App</p>
              <p class="bold">{{ appVisits }}</p>
            </div>
            <div class="circle" [ngStyle]="{'border-color': getCircleColor(visitsPercentage)}">
              <span>{{ visitsPercentage }}%</span> <!-- Exemplo de porcentagem -->
            </div>
          </div>
        </div>

        <div class="block background-dark">
          <div class="block-content">
            <div class="block-text">
              <p>Pedidos de Manutenção</p>
              <p class="bold">{{ maintenanceRequests }}</p>
            </div>
            <div class="circle" [ngStyle]="{'border-color': getCircleColor(maintenancePercentage)}">
              <span>{{ maintenancePercentage }}%</span> <!-- Exemplo de porcentagem -->
            </div>
          </div>
        </div>

        <div class="block background-dark">
          <div class="block-content">
            <div class="block-text">
              <p>Emergências</p>
              <p class="bold">{{ emergencies }}</p>
            </div>
            <div class="circle" [ngStyle]="{'border-color': getCircleColor(emergenciesPercentage)}">
              <span>{{ emergenciesPercentage }}%</span> <!-- Exemplo de porcentagem -->
            </div>
          </div>
        </div>

      </div>

      <!-- Estoque de Peças -->
      <div class="stock-section background-dark3">
        <div class="header">
          <h3 class="title">Estoque de Peças</h3>
          <div class="buttons-filter d-flex">
          <button class="btn btn-primary filter-btn background-dark" (click)="showModalFilter=!showModalFilter">
            Filtro <i class="bi bi-filter"></i>
          </button>
          <button class="btn btn-primary filter-btn background-dark" (click)="resetFilter()">
            Limpar FIltros
          </button>
          </div>
        </div>
        <div class="stock-container background-dark">
          <div class="table-container table-responsive">
            <table #headerTable class="table custom-border table-sm">
              <!-- Cabeçalho da tabela -->
              <thead>
                <tr>
                  <th class="text-center">Loja</th>
                  <th class="text-center">Compra Id</th>
                  <th class="text-center">Peça</th>
                  <th class="text-center">Quantidade</th>
                  <th class="text-center">Preço Unidade</th>
                  <th class="text-center">Preço total</th>
                  <th class="text-center">Estoque</th>
                  <th class="text-center">Localização</th>
                </tr>
              </thead>
              <!-- Corpo da tabela -->
              <tbody>
                <tr *ngFor="let data of dataList">
                  <td class="text-center">{{ data.store }}</td>
                  <td class="text-center">{{ data.requestId }}</td>
                  <td class="text-center">{{ data.autoPart }}</td>
                  <td class="text-center">{{ data.quantity }}</td>
                  <td class="text-center">{{ data.unityPrice }}</td>
                  <td class="text-center">{{ data.totalPrice }}</td>
                  <td class="text-center">{{ data.stock }}</td>
                  <td class="text-center">{{ data.storeLocation }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-modal-filter *ngIf="showModalFilter" (confirmEmitter)="applyFilter($event)" (closeEmitter)="closeEmitter()"></app-modal-filter>
