<div class="container-modal background-dark d-flex flex-column">
  <div class="close"><i class=" config bi bi-x-circle-fill" (click)="closeEvent()"></i></div>

  <div class="header-modal d-flex justify-content-center">
    <h2 class="name-container font-bold">Filtros <i class="bi bi-filter"></i></h2>
  </div>

  <!-- Dropdown para País -->
  <select [(ngModel)]="selectedCountry" class="form-control">
    <option class="teste" value="" disabled selected>Selecione um país</option>
    <option value="Brasil">Brasil</option>
    <option value="U.S.A">U.S.A</option>
    <option value="Argentina">Argentina</option>
  </select>

  <!-- Dropdown para Estado -->
  <select [(ngModel)]="selectedState" class="form-control" [disabled]="!selectedCountry">
    <option value="" disabled selected>Selecione um estado</option>
    <option value="São Paulo">São Paulo</option>
    <option value="Rio de Janeiro">Rio de Janeiro</option>
    <option value="Minas Gerais">Minas Gerais</option>
  </select>

  <!-- Dropdown para Data -->
  <input [(ngModel)]="selectedDate" type="date" class="form-control" [disabled]="!selectedCountry || !selectedState">

  <button class="button font-bold" (click)="confirmFilter()"> Confirmar</button>

</div>
