<div class="container-modal background-dark d-flex flex-column">
    <div class="header-modal d-flex justify-content-center">
        <h2 class="name-container font-bold">Filtros <i class="bi bi-filter"></i> </h2>
    </div>

    <div class="dropdown marginButton mb-2 ml-auto">
        <button class="btn btn-secondary dropdown-toggle background-dark btnStyle" type="button"
                id="countriesButton" data-bs-toggle="dropdown" aria-expanded="false">
            Selecione País
        </button>
        <ul class="dropdown-menu dropStyle" aria-labelledby="countriesButton">
            <li><a class="dropdown-item" href="#">Brasil</a></li>
            <li><a class="dropdown-item" href="#">U.S.A</a></li>
            <li><a class="dropdown-item" href="#">Argentina</a></li>
        </ul>
    </div>

    <div class="dropdown marginButton mb-2 ml-auto">
        <button class="btn btn-secondary dropdown-toggle background-dark btnStyle" type="button"
                id="stateButton" data-bs-toggle="dropdown" aria-expanded="false">
            Selecione Estado
        </button>
        <ul class="dropdown-menu dropStyle" aria-labelledby="countriesButton">
            <li><a class="dropdown-item" href="#">São Paulo</a></li>
            <li><a class="dropdown-item" href="#">California</a></li>
            <li><a class="dropdown-item" href="#">Buenos Aires</a></li>
        </ul>
    </div>

    <div class="dropdown marginButton mb-2 ml-auto">
        <button class="btn btn-secondary dropdown-toggle background-dark btnStyle" type="button"
                id="dateButton" data-bs-toggle="dropdown" aria-expanded="false">
            Selecione Data
        </button>
        <ul class="dropdown-menu dropStyle" aria-labelledby="countriesButton">
            <li><a class="dropdown-item" href="#">11/11/2023</a></li>
            <li><a class="dropdown-item" href="#">22/02/2023</a></li>
            <li><a class="dropdown-item" href="#">31/04/2023</a></li>
        </ul>
    </div>
    <button class="button font-bold" (click)="confirmFilter()"> Confirmar</button>

</div>
