@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@400;600;700&display=swap');

.background-dark {
  background-color: #003478;
}

.background-white{
  background-color: white;
}

.background-dark2 {
  background-color: #051A35;
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: calc(100vh - 56px);
}

.background-dark3 {
  background-color: #051A35;

}

.custom-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
  overflow-x: hidden;
  font-family: 'Encode Sans Condensed', sans-serif !important;
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.center{
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.col-auto{
  padding-right: 0;
}

@media(max-width:750px){
.small-screen{
  position: fixed;
  top: 30%;
  bottom: 30%;
  left: 5%;
  right: 5%;
  border-radius: 20px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-screen p{
text-align: center;
font-weight: 700;
padding: 6px;
color: red;
}
}





