  <div class="container d-flex flex-column justify-content-center">
    <div class="row align-items-center gx-5">
        <!-- Container Retangular Deitado -->
        <div class="col-8">
            <div class="usarios-localidades background-white">
              <div class="title">
                <p class="h2 font-bold">Usuários por Localidade</p>
                <i class="bi bi-globe-americas"></i>
              </div>
            <div class="container-grid background-dark3 d-flex align-items-start">
              <div class="dropdown marginButton">
                <button class="btn btn-secondary dropdown-toggle background-dark btnStyle" type="button" id="countriesButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Selecione País
                </button>
                <ul class="dropdown-menu" aria-labelledby="countriesButton">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>

            </div>
        </div>

        <!-- Container Retangular em Pé -->
        <div class="col-4">
            <div class="total-usuarios background-white">Container em Pé</div>
        </div>
    </div>
  </div>


