.container{
  margin: 0;
  padding: 0;
}

.users-location {
  height: 500px;
  width: 100%;
  border-radius: 30px;
  padding-top: 2vh;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #051A35;
}

.bi {
  font-size: 3rem;
}

.h2.font-bold {
  margin-right: 1rem;
}

.container-grid{
  background-color: #051A35;
  height: 370px;
  margin-left: 4rem;
  margin-right: 4rem;
  border-radius: 30px;
}

.marginButton{
  margin-left: 78%;
  margin-top: 2%;
}

.btnStyle{
  border-radius: 30px;
  border-color: white;
  font-size: 12px;
  padding-right: 30% ;
  padding-left: 30% ;
  font-weight: 600;
}

.btnStyle:hover{
  background-color: #2980b9 !important;
  border-color: #ffffff !important;
}

.btnStyle:active{
  background-color: #2980b9 !important;
  border-color: #ffffff !important;
}

.btnStyle.selected {
  background-color: #2980b9;
  border-color: #ffffff;
}

.dropStyle{
  font-size: 12px;
}

.container-fluid{
  padding-right: 2vw;
  padding-left: 2vw;
}

.back {
  max-height: 280px;
  overflow-y: auto;
}

.table-container {
  overflow: auto;
  height: 280px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
}
table thead {
  position: sticky;
  top: 0;
}

table thead th {
  background-color: #003478;
  color: white;
}

.table-container thead,
.table-container tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #828282;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #0c78aa;
  border-radius: 3px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #0c78aa;
}

/*container total de usuarios */

.total-users {
  height: 600px;
  width: 100%;
  border-radius: 30px;
  background-color: #EEEEEE;
}


.user-circle {
  width: 25vmin;
  height: 25vmin;
  border-radius: 50%;
  background-color: #051A35;
  margin-bottom: 0px;
  position: relative;
  top: -10%; /* Ajuste conforme necessário */


  .user-count {
    color: #EEEEEE;
    margin-top: 25%;
  }

  .user-label {
    color: #EEEEEE;
    font-size: 20px;
    margin-top: 10%;
  }
}

.info-header  {
  font-size: 25px;
  margin-right: 10vw;
  margin-top: 5%;
  font-weight: 700;
}

.info-row {
  height: 60px;
  width: 70%;
  padding: 5%;
  border-radius: 15px;
  display: flex;
  align-items: center;

  .user-number {
      font-size: 2rem;
      margin: 4%;
  }
}

.active-users {
  margin-top: 2%;
  background-color: white;
}

.inactive-users {
  margin-top: 7%;
  background-color: white;
}
